/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.08.2016, 11:11:32
    Author     : Manuela
*/

        .parent {
          width: 100%;
          height: 100%;
        }
        .child {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .center-me {
          margin: 0 auto;
        }
        
        /*für Hintergrunddarstellung im Browser*/
        body { 
            background: url(../images/pexels-photo-25562_edit.jpg) no-repeat center center fixed; 
            padding-top: 0px;
            background-repeat:no-repeat;
            height:100%;
            background-position:center;
            background-attachment: fixed;

          }
        
        .formInputRegister{
            margin-left:10px;
            margin-bottom: 10px;
        }
        
        input:required {
            box-shadow:none;
        }
        
        .checkboxTypo{
            font-size: 5pt;
        }