<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tm.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>tm.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProfileServlet</servlet-name>
        <servlet-class>tm.CreateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tm.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>tm.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeiterleitungCreateProfileServlet</servlet-name>
        <servlet-class>Weiterleitung.WeiterleitungCreateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeiterleitungLoginServlet</servlet-name>
        <servlet-class>tm.WeiterleitungLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>tm.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeiterleitungHomeServlet</servlet-name>
        <servlet-class>Weiterleitung.WeiterleitungHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProfileServlet</servlet-name>
        <url-pattern>/CreateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeiterleitungCreateProfileServlet</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeiterleitungLoginServlet</servlet-name>
        <url-pattern>/toLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeiterleitungHomeServlet</servlet-name>
        <url-pattern>/toHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
